<h3 id="9">Participación total</h3>

<p class="stat-number margin-top">
  Nº total de votos emitidos<br>
  <span id="total_votes"><%= @votos_totales %></span>
</p>

<h4>Canales de participación (Votos emitidos)</h4>

<table class="polls-participation">
  <thead>
    <tr>
      <th>WEB</th>
      <th>URNAS</th>
      <th>CORREOS</th>
      <th class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <td id="total_web_votes">
      <%= @votos_total_web %> <small><em>(<%= @votos_total_web.percent_of(@votos_totales) rescue 0 %>%)</em></small>
    </td>
    <td id="total_booth_votes">
      <%= @votos_total_booth %> <small><em>(<%= @votos_total_booth.percent_of(@votos_totales) rescue 0 %>%)</em></small>
    </td>
    <td id="total_letter_votes">
      <%= @votos_total_letter %> <small><em>(<%= @votos_total_letter.percent_of(@votos_totales) rescue 0 %>%)</em></small>
    </td>
    <td  id="total_votes_table" class="border-left">
      <strong><%= @votos_totales %></strong>
    </td>
  </tbody>
</table>

<p class="stat-number margin-top">
  Nº total de participantes<br>
  <span id="total_participants"><%= @participantes_totales %></span>
</p>

<h4>Canales de participación (Participantes)</h4>

<table class="polls-participation">
  <thead>
    <tr>
      <th>WEB</th>
      <th>URNAS</th>
      <th>CORREOS</th>
      <th class="border-left">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <td id="total_web_participants">
      <%= @participantes_total_web %> <small><em>(<%= @participantes_total_web.percent_of(@participantes_totales) rescue 0 %>%)</em></small>
    </td>
    <td id="total_booth_participants">
      <%= @participantes_total_booth %> <small><em>(<%= @participantes_total_booth.percent_of(@participantes_totales) rescue 0 %>%)</em></small>
    </td>
    <td id="total_letter_participants">
      <%= @participantes_total_letter %> <small><em>(<%= @participantes_total_letter.percent_of(@participantes_totales) rescue 0 %>%)</em></small>
    </td>
    <td id="total_participants_table" class="border-left">
      <strong><%= @participantes_total_web + @participantes_total_booth + @participantes_total_letter %></strong>
    </td>
  </tbody>
</table>